# Yadis endpoints
idp.identity_service=@idp_identity_service@
idp.attribute_service=@idp_attribute_service@
idp.myproxy_service=@idp_myroxy_service@

# location of demo user database
#idp.xmlfilepath=esg/idp/config/ESGFusers.xml