body {
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-color: #FFFFFF ;
   color: #212121;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
   min-width: 800px;
}

table {
    border-collapse: collapse;
    border-color: #ccc;
    margin-bottom: 0px;
}

td, th {
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}


.page-title { text-align: left; font-size:14px; font-weight: bold; color:#2647a0; }

.error { color: #ff0000; }

.highlight { color: #2647a0; }

.required { color: #2647a0; }

.panel { background: #e5ecf9; border: 1px solid #417690; text-align: center; padding:10px; }
.button { background: white url(./nav-bg.gif) bottom repeat-x; padding: 3px 5px; color: #5D781D; border: 1px solid #bbb; border-color: #ddd #aaa #aaa #ddd; }
